[Unit]
Description=Gunicorn instance to serve indicator
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/indicator
Environment="PATH=/var/www/indicator/indicator_env/bin"
ExecStart=/var/www/indicator/indicator_env/bin/gunicorn --workers 3 --bind unix:/run/gunicorn/indicator.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
