<html>
  <head>
    <title>The Yield Curve</title>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="{{ url_for('static', filename='js/pikaday.js') }}"></script>
    <script src="{{ url_for('static', filename='js/yield.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pikaday.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  </head>

  <body>
    <div id="content-outer">
      <h1>This is The Yield Curve</h1>
      <!-- <h2>For U.S. Treasury Bonds</h2> -->
      <h2>{{ data[0].date.strftime("%A, %B %d, %Y") }}</h2>
      <div id="content-inner">

          <div id="chart">
            <canvas id="chartCanvas"></canvas>
          </div>

          <div align="right">
            See another yield curve! </br>
            <label for="datepicker">Pick a Date:</label>
            <input type="text" id="datepicker"> </br>
            <button id="addDataset">Add to This Chart</button>
            <button id="newChart">See on New Chart</button>
          </div>
          <script>
            var all_data = JSON.parse('{{ data | tojson }}');
            var chart = plot_data(all_data, purp2);
            enable_picker(chart, warm2);
          </script>

      </div>

      <footer>
          <p>Created by
              <a href="https://twitter.com/aganders3">@aganders3</a>
          </p>
      </footer>
    </div>

  </body>
</html>
